<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evidencia 2</title>

    <link rel="stylesheet" href="./css/stylesEjemplo.css">


    <style>
        .mostrarResultados {
  margin: 20px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.mostrarResultados h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.mostrarResultados table {
  width: 100%;
  border-collapse: collapse;
}

.mostrarResultados th,
.mostrarResultados td {
  padding: 10px;
  text-align: center;
}

.mostrarResultados th {
  background-color: #333;
  color: #fff;
}

.mostrarResultados tr:nth-child(even) {
  background-color: #f2f2f2;
}


    </style>
</head>
<body>
    <header>
		<div>
            <h2>Pagina con DB</h2>
        </div>
	</header>

    <main>
        <br><br>

        <form action="/insertar" method="post">
            <h3>Agregar Alumno</h3>
            <label>Matrícula:</label>
            <input type="number" name="matricula" required="true"><br>
            <label>Nombre:</label>
            <input type="text" name="nombre" required="true"><br>
            <label>Domicilio:</label>
            <input type="text" name="domicilio" required="true"><br>
            <label>Sexo:</label>
            <input type="text" name="sexo" required="true"><br>
            <label>Especialidad:</label>
            <input type="text" name="especialidad" required="true"><br>
            <button id="btnAgregar" name="btnAgregar" type="submit" >Agregar</button>
        </form>

          <br><br>

        <form action="/buscarPorMatricula" method="post">
            <h3>Buscar Alumno Por Matricula</h3>
            <label>Buscar Por Matricula</label>
            <input id="buscarPorMatricula" name="buscarPorMatricula" type="number"><br>
            <button id="btnBuscarPorMatricula" name="btnBuscarPorMatricula" type="submit" >Buscar</button>
        </form>

        <br><br>

        <form action="/eliminar" method="post">
            <h3>Eliminar Alumno</h3>
            <label>ID:</label>
            <input type="number" name="id" required="true"><br>
            <button id="btnEliminar" name="btnEliminar" type="submit" >Eliminar</button>
        </form>

        <br><br>

        <form action="/actualizar" method="post">
            <h3>Actualizar Infomracion De Un Alumno</h3>
            <label>ID:</label>
            <input type="number" name="actualizarId" required="true"><br>
            <label>Matrícula:</label>
            <input type="number" name="actualizarMatricula" required="true"><br>
            <label>Nombre:</label>
            <input type="text" name="actualizarNombre" required="true"><br>
            <label>Domicilio:</label>
            <input type="text" name="actualizarDomicilio" required="true"><br>
            <label>Sexo:</label>
            <input type="text" name="actualizarSexo" required="true"><br>
            <label>Especialidad:</label>
            <input type="text" name="actualizarEspecialidad" required="true"><br>
            <button id="btnActualizar" name="btnActualizar" type="submit" >Actualizar</button>
        
        </form>

        <div class="mostrarResultados">
            <h1>Listado de Alumnos</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Matrícula</th>
        <th>Nombre</th>
        <th>Domicilio</th>
        <th>Sexo</th>
        <th>Especialidad</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i = 0; i < alumnos.length; i++) { %>
        <tr>
        <td><%= alumnos[i].id %></td>
          <td><%= alumnos[i].matricula %></td>
          <td><%= alumnos[i].nombre %></td>
          <td><%= alumnos[i].domicilio %></td>
          <td><%= alumnos[i].sexo %></td>
          <td><%= alumnos[i].especialidad %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
        </div>
    </main>


    
</body>
</html>